<br />
<h2>Sessão de Filme</h2>
<div>
  <a routerLink="">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      format_list_bulleted
    </mat-icon>
    <span> Listar </span>
  </a>

  <a routerLink="/filme/cadastrar">
    <mat-icon aria-hidden="false" aria-label="Cadastrar">upgrade</mat-icon>
    <span> Cadastrar </span>
  </a>

  <a routerLink="/filme/deletar">
    <mat-icon aria-hidden="false" aria-label="Deletar">delete</mat-icon>
    <span> Deletar </span>
  </a>

  <a routerLink="/filme/atualizar">
    <mat-icon aria-hidden="false" aria-label="Deletar">cached</mat-icon>
    <span> Atualizar </span>
  </a>
</div>
