<br />

<h2>Cadastro de Cliente</h2>

<form>
  <mat-form-field>
    <mat-label>Nome do Cliente</mat-label>
    <input
      type="text"
      name="usuario"
      [(ngModel)]="usuario"
      matInput
      placeholder="Usuário"
    />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input
      type="password"
      name="senha"
      [(ngModel)]="senha"
      matInput
      placeholder="Senha"
    />
  </mat-form-field>

  <br />
</form>

<br />
<button mat-stroked-button color="primary" (click)="cadastrar()">
  Cadastrar
</button>

<br />
<br />
<a routerLink="/cliente/listar"> Listar Clientes </a>

<!-- <p>cadastrar works!</p>
<a routerLink="" routerLinkActive="active">Listar Component</a> -->
