<mat-sidenav-container>
  <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon class="material-icons-outlined" mat-list-icon
          >local_movies</mat-icon
        >
        <a mat-list-item routerLink="/filme/principal">Filmes</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="material-icons-outlined" mat-list-icon>lock</mat-icon>
        <a mat-list-item routerLink="/locacao/principal">Locações</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="material-icons-outlined" mat-list-icon
          >person_add</mat-icon
        >
        <a mat-list-item routerLink="/cliente/principal">Clientes</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon class="material-icons-outlined" mat-list-icon
          ><span class="material-icons-outlined"> favorite </span></mat-icon
        >
        <a mat-list-item routerLink="/favorito/principal">Favorito</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
