<br />
<h2>Filmes cadastrados</h2>
<br />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Filme</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filme of filmes">
      <td>
        {{ filme._id }}
      </td>
      <td>
        {{ filme.titulo }}
      </td>
    </tr>
  </tbody>
</table>

<br />

<h2>Exclusão de Filmes</h2>

<mat-form-field>
  <mat-label>Digite o ID da favorito</mat-label>
  <input type="text" name="id" [(ngModel)]="id" matInput placeholder="ID" />
</mat-form-field>

<br />

<button mat-stroked-button color="primary" (click)="deletar()">Deletar</button>
