<label for="diretor">Diretor</label>
<input type="text" name="diretor" [(ngModel)]="diretor" />
<br />
<label for="status">Status</label>
<input type="text" name="status" [(ngModel)]="status" />
<br />
<label for="descricao">Descrição</label>
<input type="text" name="descricao" [(ngModel)]="descricao" />
<br />
<label for="titulo">Título</label>
<input type="text" name="titulo" [(ngModel)]="titulo" />
<br />
<label for="duracao">Duração</label>
<input type="text" name="duracao" [(ngModel)]="duracao" />
<br />
<label for="genero">Gênero</label>
<input type="text" name="genero" [(ngModel)]="genero" />

<br />
<button (click)="atualizar()">Atualizar</button>

<br />
<a routerLink=""> Listar Filmes </a>

<!-- <p>cadastrar works!</p>
<a routerLink="" routerLinkActive="active">Listar Component</a> -->
