<br />
<h2>Sessão de Favoritos</h2>
<div>
  <a routerLink="/favorito/listar">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      format_list_bulleted
    </mat-icon>
    <span> Listar </span>
  </a>

  <a routerLink="/favorito/cadastrar">
    <mat-icon aria-hidden="false" aria-label="Cadastrar">upgrade</mat-icon>
    <span> Cadastrar </span>
  </a>

  <a routerLink="/favorito/deletar">
    <mat-icon aria-hidden="false" aria-label="Deletar">delete</mat-icon>
    <span> Deletar </span>
  </a>
</div>
