<br />
<h2>Sessão de Locação</h2>
<div>
  <a routerLink="/locacao/listar">
    <mat-icon aria-hidden="false" aria-label="Listar">
      format_list_bulleted
    </mat-icon>
    <span> Listar </span>
  </a>

  <a routerLink="/locacao/cadastrar">
    <mat-icon aria-hidden="false" aria-label="Cadastrar">upgrade</mat-icon>
    <span> Cadastrar </span>
  </a>

  <a routerLink="/locacao/deletar">
    <mat-icon aria-hidden="false" aria-label="Deletar">delete</mat-icon>
    <span> Deletar </span>
  </a>

  <a routerLink="/locacao/atualizar">
    <mat-icon aria-hidden="false" aria-label="Atualizar">cached</mat-icon>
    <span> Atualizar </span>
  </a>
</div>
